.App {
  text-align: center;
  margin-top: 50px;
}

select, button {
  margin: 10px;
  padding: 10px;
  font-size: 1em;
}

.response {
  margin-top: 20px;
  text-align: left;
  padding: 20px;
  background-color: #f4f4f4;
  display: inline-block;
}

.error {
  color: red;
}
